div#app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Baskerville Old Face";
    font-size: 20px;
    flex-direction: column;
}
*{
    margin: 0;padding: 0;box-sizing: border-box;
}
.male{
    background: blue;
    border: 5px solid blue;
}
.female{
    background: pink;
    border: 5px solid pink;
}
div#app > button{

    color: #fff;
    padding: 20px;
    border: 0;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
div#app > img {
    border-radius: 50%;

}